@page "/ItemDetails/{id:int}"
@using BlazorApp2.Models
@inject HttpClient Http
<h3>Item Details</h3>

@if (item == null)
{
    <p>Loading...</p>
}
else
{
    <div class="mx-auto" style="width: 200px;">
        <!-- Display item details here -->
        @if (!string.IsNullOrEmpty(item.Image))
        {
            <img src="@item.Image" width="200" alt="No resource found"/>
        }
        else
        {
            <span>No image available</span>
        }
        <p>@item.Manufacturer @item.ModelName @item.ModelYear</p>
        <p>MSRP: @item.Price</p>
        <p>@item.Description</p>
        <p>Currently in stock: @item.Quantity</p>
        <!-- Add more properties as needed -->
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Item item;

    private string httpsLocalhostApiItems = "https://localhost:44345/api/items";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            item = await Http.GetFromJsonAsync<Item>($"{httpsLocalhostApiItems}/id?id={Id}");
        }
        catch (Exception ex)
        {
            Console.WriteLine("The request looked like this: " + $"httpsLocalhostApiItems/id?id={Id}");
            Console.WriteLine("Error getting record: " + ex);
        }
    }

}